<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon.png" />
<%== meta_data_tags %>
<%= stylesheet_link_tag 'store/all', :media => 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'store/all' %>
<%= render 'shared/synergy_compare_products_js' if defined?(SpreeCompareProducts) %>
<%= render 'shared/jgrowl_startup' %>
<%= yield :head %>
