<li id="product_<%= product.id %>" data-hook="products_list_item">
  <%= link_to raw(product.name), product, :class => 'product-name' %>
  <div class="product-image-wrapper" data-hook="products_list_item_image">
      <%= link_to small_image(product), product %>
  </div>
  <% if defined?(SpreeReviews) %>
    <div align="center" style="height: 15px;"><%= render 'shared/rating', :product => product %></div>
  <% end %>  
  <%= link_to raw("<span class='price selling'>#{product_price(product)}</span>"), product, :class => 'info' %>
</li>