<div class="review">
  <span class="rating" title="<%= txt_stars(review.rating) %>">
    <%= render :partial => "reviews/stars", :locals => {:stars => review.rating} %>
  </span>
  <span class="title"><%= review.title %></span>
  <span class="attribution"><strong><%= l(review.created_at.to_date, :format => :long) %></strong></span>
  <p>
  <%= simple_format(review.review) %>
  </p>
  <div class="feedback_review" id="feedback_review_<%= review.id %>">
    <%= render :partial => "feedback_reviews/form", :locals => {:review => review} %>
  </div>
</div>
