<% cache ['taxonomies', @taxon], :expires_in => SHORT_INTERVAL do %>
<div id="taxonomies" class="sidebar-item">
  <% get_taxonomies.select{|t| !t.show_on_homepage? }.each do |taxonomy| %>
    <h2<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>>
      <%= link_to taxonomy.name, seo_url(taxonomy.root), :class => 'root' %>
    </h2>
    <ul class="nav-list">
      <% taxonomy.root.children.each do |taxon| %>
        <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
          <%= link_to taxon.name, seo_url(taxon) %>
          <% if taxon.children.any? %>
          <ul class="nav-list">
            <% taxon.children.each do |t| %>
            <li<%== ' class="current"' if @taxon == t %>><%= link_to t.name, seo_url(t) %></li>
            <% end %>
          </ul>
          <% end %>
       </li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>
