<%= form_for :order, :url => populate_orders_url do |f| %>
<%= hook :inside_product_cart_form do %>
<div id="cart_wrapper">

  <% if product_price(@product) %>
    <%= hook :product_price do %>
      <p class="prices">
        <span class="price selling"><%= product_price(@product) %></span>
      </p>
    <% end %>
  <% end %>

  <% if @product.has_variants? %>
    <div id="product-variants">
      <%= render :partial => 'radio_sets', :locals => {:f => f} %>
    </div>
  <% end%>
  <% if @product.has_stock? || Spree::Config[:allow_backorders] %>
    <%= hidden_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"),
      1, :class => "title", :size => 3 %>
    &nbsp;
    <button type='submit' class='add-to-cart'>
      <%= t('add_to_cart') %>
    </button>
  <% else %>
    <%= content_tag('strong', t('out_of_stock')) %>
  <% end %>

</div>

<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'product' %>
<% end %>
