<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
<% if defined?(SpreeReviews) %>
<script type="text/javascript">
  $(function() {
    $('#description_add_review_link').click(function() {
      show_add_review_container();
      $('#add_review_link').slideUp();
    });

    /*var product_variants = $('#product-variants').detach();
     if (product_variants.length > 0) {
     $('#product-variants-container').append(product_variants);
     }*/

    $('#add_review_link').click(function(e) {
      show_add_review_container();
      $(this).slideUp();
      e.preventDefault();
    });
  });

  function show_add_review_container() {
    $('#add_review_container').slideDown();
  }
</script>
<% end %>
<% @body_id = 'product-details' %>

<h1><%= @product.name %></h1>
<div id="product-show">
  <div id="product-images">
    <%= hook :product_images do %>
      <div id="main-image">
        <%= render 'image' %>
      </div>
    <% end %>

    <div id="product-variants-container">
    </div>
  </div>

  <div id="product-description">
    <%= hook :cart_form do %>
      <div id="cart-form">
        <%= render 'cart_form' %>
      </div>
    <% end %>

    <div id="product_description_menu">
      <table cellpadding="0" cellspacing="0" style="width: 300px">
        <% if defined?(SpreeReviews) %>
        <tr>
          <td><%= render 'shared/rating', :product => @product %></td>
          <td><a href="#reviews_anc">Отзывы(<%= @product.reviews.approved.count %>)</a></td>
        </tr>
        <% end %>
        <tr>
          <% if defined?(SpreeCompareProducts) %>
            <td><%= render 'compare' if @comparable_products %></td>
          <% end %>
          <% if defined?(SpreeReviews) %>
            <td><a id="description_add_review_link" href="#reviews_anc">Добавить отзыв</a></td>
          <% end %>
        </tr>
      </table>
    </div>

    <%= render :partial => 'shared/like_buttons' %>

    <div id="thumbnails">
      <%= render 'thumbnails', :product => @product %>
    </div>

  </div>
</div>
<div style="clear: both"></div>
<div id="product_description">
  <%= hook :product_description do %>
    <h3>Описание:</h3>

    <div class="description-content">
      <% if @product.description %>
        <%= product_description(@product) %>
      <% else %>
        <%= t("product_has_no_description") %>
      <% end %>
    </div>
  <% end %>
</div>

<div style="clear: both" id="product_parameters">
  <%= hook :product_properties do %>
    <%= render 'properties' %>
  <% end %>
</div>

<% if defined?(RecentlyViewedConfiguration) && get_recently_viewed_products.count > 1 %>
  <div style="clear: both">
    <h3>Вы недавно смотрели:</h3>

    <ul class="similar_product_list">
      <% get_recently_viewed_products.each do |p| %>
        <% next if p.id == @product.id %>
        <li>
          <div class="similar_product_image_container">
            <%= small_image(p) %>
          </div>
          <div>
            <div><%= link_to p.name, p %></div>
            <div><%= render 'shared/rating', :product => p if defined?(SpreeReviews) %></div>
            <div class="similar_product_price"><%= product_price(p) %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<script>
  <% if @product.has_variants? %>
  $(function() {
    variant_changed(default_variant_id);

    /*$('#cart-form form').bind('submit', function(e) {
     if ($('#cart-form #product-variants').length == 0) {
     var variants = $('#product-variants').clone();
     variants.css('display', 'none');
     $('#cart-form form').append(variants);
     }
     });*/

    $('#product-variants select.option-type').bind("change", function() {
      $("#product-variants select.option-type").map(function(i, select) {
        var selected_option = $(select).find("option:selected")[0];
        $(select).find("option").each(function(i, option) {
          if (option == selected_option) option.setAttribute('selected', 'selected');
          else $(option).removeAttr('selected');
        });
      });
    });
  });
  <% else %>
  add_image_handlers();
  <% end %>
</script>

<%= render 'taxons' %>
<%= render 'shared/reviews' if defined?(SpreeReviews) %>

