<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
    <%# render(:partial => "shared/filters") if @taxon.children.empty? %>
  <% end %>
<% end %>

<% @body_id = 'product-details' %>

<div>
<div id="product-images">
  <%= hook :product_images do %>
  <div id="main-image">
    <%= render 'image' %>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product %>
  </div>
  <% end %>
</div>

<div id="product-description">
  <h1><%= @product.name %></h1>

  <%= hook :cart_form do %>
  <div id="cart-form">
    <%= render 'cart_form' %>
  </div>
<% end %>

  <div id="product_description_menu">
    <table cellpadding="0" cellspacing="0">
      <tr>
        <td><%= (image_tag 'star_orange.png') * 5  %></td>
        <td><%= link_to t(:add_to_comparison, :scope => :compare_products), add_to_comparison_path(@product), :class => 'compare', :style => "z-index:10;", :remote => true if @product.can_be_compared? %></td>
      </tr>
      <tr>
        <td>Отзывы(18)</td>
        <td>Добавить отзыв</td>
      </tr>
    </table>
  </div>

  <div id="product_like_buttons">
    <%= image_tag 'facebook_like.png' %> <%= image_tag 'vkontakte_like.png' %> <%= image_tag 'tweet_like.png' %>
  </div>

  <h2>Описание:</h2>
  <%= hook :product_description do %>
    <%= product_description(@product) rescue t("product_has_no_description") %>
  <% end %>
  <h2>Характеристики:</h2>
  <%= hook :product_properties do %>
    <%= render 'properties' %>
  <% end %>
</div>
</div>



<%= render 'taxons' %>

