<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#description_add_review_link').click(function() {
      show_add_review_container();
      $('#add_review_link').slideUp();
    });

    var product_variants = $('#product-variants').detach();
    if (product_variants.length > 0) {
      $('#product-variants-container').append(product_variants);
      var r_buttons = $('#product-variants input[type=radio]');
      $('#cart_wrapper').append('<input id="cart-variant-type" type="hidden" name="' + r_buttons[0].name + '" value="' + r_buttons[0].value + '" />');
      r_buttons[0].checked = 'checked';
      r_buttons.click(function(e) {
        $('#cart-variant-type').val($(this).val());
      });
    }

    $('#add_review_link').click(function(e) {
      show_add_review_container();
      $(this).slideUp();
      e.preventDefault();
    });
  });

  function show_add_review_container() {
    $('#add_review_container').slideDown();
  }
</script>

<% @body_id = 'product-details' %>

<h1><%= @product.name %></h1>
<div id="product-show">
  <div id="product-images">
    <%= hook :product_images do %>
      <div id="main-image">
        <%= render 'image' %>
      </div>
      <div id="thumbnails">
        <%= render 'thumbnails', :product => @product %>
      </div>
    <% end %>

    <div id="product-variants-container">
    </div>
  </div>

  <div id="product-description">
    <%= hook :cart_form do %>
      <div id="cart-form">
        <%= render 'cart_form' %>
      </div>
    <% end %>

    <div id="product_description_menu">
      <table cellpadding="0" cellspacing="0" style="width: 300px">
        <tr>
          <td><%= render 'shared/rating', :product => @product %></td>
          <td><%= render 'compare' if @comparable_products %></td>
        </tr>
        <tr>
          <td><a href="#reviews_anc">Отзывы(<%= @product.reviews.approved.count %>)</a></td>
          <td><a id="description_add_review_link" href="#reviews_anc">Добавить отзыв</a></td>
        </tr>
      </table>
    </div>

    <div id="product_like_buttons">
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter"></div>
    <!--  <%= image_tag 'facebook_like.png' %> <%= image_tag 'vkontakte_like.png' %> <%= image_tag 'tweet_like.png' %> -->
    </div>

    <h2>Описание:</h2>
    <%= hook :product_description do %>
      <%= product_description(@product) rescue t("product_has_no_description") %>
    <% end %>
    <h2>Характеристики:</h2>
    <%= hook :product_properties do %>
      <%= render 'properties' %>
    <% end %>
  </div>
</div>

<% if defined?(RecentlyViewedConfiguration) && get_recently_viewed_products.count > 1 %>
<div>
  <h3>Вы недавно смотрели:</h3>

  <ul class="similar_product_list">
  <% get_recently_viewed_products.each do |p| %>
    <% next if p.id == @product.id %>
    <li>
      <div class="similar_product_image_container">
        <%= small_image(p) %>
      </div>
      <div>
        <div><%= link_to p.name, p %></div>
        <div><%= render 'shared/rating', :product => p %></div>
        <div class="similar_product_price"><%= product_price(p) %></div>
      </div>
    </li>
  <% end %>
  </ul>
</div>
<% end %>

<%= render 'taxons' %>
<%= render 'shared/reviews' %>

