<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= hook :inside_head do %>
    <%= render 'shared/head' %>
    <%= render 'shared/synergy_startup_javascript' %>
  <% end %>
  <%= stylesheet_link_tag 'style' %>
</head>
<%
   if @body_class.nil?
     if content_for?(:sidebar)
       @body_class = 'two-col'
     else
       @body_class = 'one-col'
     end
   end
%>

<body class="<%= @body_class %>" id="<%= @body_id %>">

<div class="wrapper">
  <div style="height: 4px; font-size: 0"></div>
  <div class="main_top" align="center">
    <div class="header_panel">
      <ul>
        <li style="text-align: center">
          <div><%= link_to image_tag("logo.png", :alt => "Synergy logo"), root_url %></div></li>
        <li style="padding-left: 16px"><%= render 'shared/search' %></li>
        <li>
          <% if store_menu? and not current_page?(cart_path) %>
            <div><%= link_to_cart %></div>
          <% end %>
        </li>
        <li>
          <% if @comparable_products %>
            <div><%= link_to "Сравнение товаров (#{@comparable_products.count})", compare_products_path, {:id => "compare_products"} %></div>
            <div id="tooltip" class="tooltip" style="display: none">
              <div class="tooltip_top"></div>
              <div class="tooltip_middle">
                <div style="font-size: 0px">&nbsp;</div>
                <div class="tooltip_content" id="tooltip_content"></div>
                <div style="font-size: 0px">&nbsp;</div>
              </div>
              <div class="tooltip_bottom"></div>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <div align="center">
    <div class="fixed_width">
      <div align="left" style="margin-top: 1em">
        <%= hook :shared_login_bar %>
      </div>
      <% if content_for?(:sidebar) %>
        <div class="sidebar">
          <%= hook :sidebar do %>
            <%= yield :sidebar %>
          <% end %>
        </div>
      <% end %>
      <div id="content" class="content">
        <% if flash.notice %>
          <div class="flash notice"><%= flash.notice %></div>
        <% end %>
        <% if flash[:errors] %>
          <div class="flash errors"><%= flash[:error] %></div>
        <% end %>
        <%= yield %>
      </div>
      <div style="height: 10px;"></div>
    </div>
  </div>
  <div class="footer_fake"></div>
</div>

<div class="footer" align="center">
<% cache 'footer_menu' do %>
  <ul class="footer_menu">
    <% for page in Page.footer_links do %>
      <li><%= link_to page.title, page.link %></li>
    <% end %>
  </ul>
<% end %>
</div>
<%= hook :footer_right %>
<% cache 'google_analytics' do %>
  <%= render 'shared/google_analytics' %>
<% end %>
</body>
</html>
